<div class="row marketing">
  <p>This is the settings view.</p>
 </div> 

<div class="row marketing">
  <h4 id="settings-html5">HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4 id="settings-angular">Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4 id="settings-karma">Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
